<section id="container">
    <!--header start-->
    <header class="header fixed-top clearfix">
    <!--logo start-->
    <div class="brand">
        <a href="index.html" class="logo">
            My Bus
        </a>
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
        </div>
    </div>
    <!--logo end-->
   
                           
    <div class="top-nav clearfix">
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
            <li>
                <!-- <input type="text" class="form-control search" placeholder=" Search"> -->
            </li>
            <!-- user login dropdown start--> 
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <img alt="" src="images/2.png">
                    <span class="username">Komban</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <li><a href=""><i class=" fa fa-suitcase"></i>Profile</a></li>
                    <!-- <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li> -->
                    <li><a href="/admin/logout"><i class="fa fa-key"></i> Log Out</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
           
        </ul>
        <!--search & user info end-->
    </div>
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="index.html">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-book"></i>
                            <span>My Bus</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/admin/addbus">Add bus</a></li>
                            <!--<li><a href="/admin/viewbus">Add bus Details</a></li>
                            <li><a href="grids.html">Grids</a></li>-->
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/busdetails">
                            <i class="fa fa-bullhorn"></i>
                            <span>Bus Details</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-th"></i>
                            <span>Bookings</span>
                        </a>
                        <ul class="sub">
                            <li><a href="/admin/bookstatus">Orders</a></li>
                            <li><a href="/admin/paymentstatus">Booked List</a></li>
                        </ul>
                    </li>
                    
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-envelope"></i>
                            <span>Mail </span>
                        </a>
                        <ul class="sub">
                            <li><a href="mail.html">Inbox</a></li>
                            <li><a href="mail_compose.html">Compose Mail</a></li>
                        </ul>
                    </li>
                    
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class=" fa fa-bar-chart-o"></i>
                            <span>Maps</span>
                        </a>
                        <ul class="sub">
                            <li><a href="google_map.html">Google Map</a></li>
                            <li><a href="vector_map.html">Vector Map</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-glass"></i>
                            <span>Extra</span>
                        </a>
                        <ul class="sub">
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="404.html">404 Error</a></li>
                            <li><a href="registration.html">Registration</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="login.html">
                            <i class="fa fa-user"></i>
                            <span>Login Page</span>
                        </a>
                    </li>
                </ul>            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- //market-->
            <div class="market-updates">
                <div class="col-md-3 market-update-gd">
                    <div class="market-update-block clr-block-2">
                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-eye"> </i>
                        </div>
                         <div class="col-md-8 market-update-left">
                         <h4>Visitors</h4>
                        <h3>13,500</h3>
                        <p>Other hand, we denounce</p>
                      </div>
                      <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 market-update-gd">
                    <div class="market-update-block clr-block-1">
                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-users" ></i>
                        </div>
                        <div class="col-md-8 market-update-left">
                        <h4>Users</h4>
                            <h3>1,250</h3>
                            <p>Other hand, we denounce</p>
                        </div>
                      <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 market-update-gd">
                    <div class="market-update-block clr-block-3">
                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-usd"></i>
                        </div>
                        <div class="col-md-8 market-update-left">
                            <h4>completed</h4>
                            <h3>1,500</h3>
                            <p>Other hand, we denounce</p>
                        </div>
                      <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 market-update-gd">
                    <div class="market-update-block clr-block-4">
                        <div class="col-md-4 market-update-right">
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-8 market-update-left">
                            <h4>Orders</h4>
                            <h3>1,500</h3>
                            <p>Other hand, we denounce</p>
                        </div>
                      <div class="clearfix"> </div>
                    </div>
                </div>
               <div class="clearfix"> </div>
            </div>	
            <!-- //market-->
            
        <!--//agileinfo-grap-->
    
                    
            <div class="agil-info-calendar">
            <!-- calendar -->
            <div class="col-md-6 agile-calendar">
                <div class="calendar-widget">
                    <div class="panel-heading ui-sortable-handle">
                        <span class="panel-icon">
                          <i class="fa fa-calendar-o"></i>
                        </span>
                        <span class="panel-title"> Calendar Widget</span>
                    </div>
                    <!-- grids -->
                        <div class="agile-calendar-grid">
                            <div class="page">
                                
                                <div class="w3l-calendar-left">
                                    <div class="calendar-heading">
                                        
                                    </div>
                                    <div class="monthly" id="mycalendar"></div>
                                </div>
                                
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                </div>
            </div>
            <!-- //calendar -->
            
                <!-- tasks -->
                
            <!-- //tasks -->
            
                            
    </section>
     <!-- footer -->
              <div class="footer">
                <div class="wthree-copyright">
                  <p>© 2023 Visitors. All rights reserved | Design by <a href="">Linto joseph</a></p>
                </div>
              </div>
      <!-- / footer -->
    </section>
    <!--main content end-->
    </section>
    
    