<%- include('../partials/header.ejs') %>


<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container">
        <h2 class="title">Destinations </h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="/home">Home</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Destinations </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
 <!--  Work gallery section -->
 <section class="grids-1 py-5">
  <div class="grids py-lg-5 py-md-4">
      <div class="container">
          <h3 class="hny-title mb-5">Famous Destinations</h3>
          <div class="row">
              <div class="col-lg-4 col-md-4 col-6">
                  <div class="column">
                      <a href="https://en.wikipedia.org/wiki/Hampi"><img src="./images/location1.jpg" alt="" class="img-fluid"></a>
                      <div class="info">
                          <h4>Hampi</h4>
                          <p>3Days, 4 Nights </p>
                          <!--<div class="dst-btm">
                            <h6 class="">Start From </h6>
                            <span>$1750</span>
                          </div>-->
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 mt-md-0">
                  <div class="column">
                      <a href="https://en.wikipedia.org/wiki/Goa"><img src="./images/location2.jpg" alt="" class="img-fluid"></a>
                      <div class="info">
                          <h4>Goa</h4>
                          <p>3Days, 4 Nights </p>
                          <!--<div class="dst-btm">
                            <h6 class="">Start From </h6>
                            <span>$1690</span>
                          </div>-->
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 mt-md-0 mt-4">
                <div class="column">
                    <a href="https://en.wikipedia.org/wiki/Alappuzha"><img src="./images/location3.webp" alt="" class="img-fluid"></a>
                    <div class="info">
                        <h4>Alappuzha</h4>
                        <p>3Days, 4 Nights </p>
                        <!--<div class="dst-btm">
                          <h6 class="">Start From </h6>
                          <span>$1650</span>
                        </div>-->
                    </div>
                </div>
            </div>
              <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                  <div class="column">
                      <a href="https://en.wikipedia.org/wiki/Kozhikode"><img src="./images/location4.webp" alt="" class="img-fluid"></a>
                      <div class="info">
                          <h4>Calicut</h4>
                          <p>3Days, 4 Nights</p>
                          <!--<div class="dst-btm">
                            <h6 class=""> Start From </h6>
                            <span>$1950</span>
                          </div>-->
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                  <div class="column">
                      <a href="https://en.wikipedia.org/wiki/Kochi"><img src="./images/location5.webp" alt="" class="img-fluid"></a>
                      <div class="info">
                          <h4>Kochi</a></h4>
                          <p>3Days, 4 Nights</p>
                          <!--<div class="dst-btm">
                            <h6 class=""> Start From </h6>
                            <span>$1850</span>
                          </div>-->
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                  <div class="column">
                      <a href="https://en.wikipedia.org/wiki/Mysore"><img src="./images/location6.jpg" alt="" class="img-fluid"></a>
                      <div class="info">
                          <h4>Mysore</a></h4>
                          <p>3Days, 4 Nights</p>
                          <!--<div class="dst-btm">
                          <h6 class=""> Start From </h6>
                          <span>$1750</span>
                        </div>-->
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                <div class="column">
                    <a href="https://en.wikipedia.org/wiki/Manali,_Himachal_Pradesh"><img src="./images/location7.jpg" alt="" class="img-fluid"></a>
                    <div class="info">
                        <h4>Manali</h4>
                        <p>3Days, 4 Nights</p>
                        <!--<div class="dst-btm">
                          <h6 class=""> Start From </h6>
                          <span>$1650</span>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                <div class="column">
                    <a href=https://en.wikipedia.org/wiki/Hyderabad"><img src="./images/location8.webp" alt="" class="img-fluid"></a>
                    <div class="info">
                        <h4>Hydrabad</h4>
                        <p>3Days, 4 Nights</p>
                        <!--<div class="dst-btm">
                          <h6 class=""> Start From </h6>
                          <span>$1950</span>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                <div class="column">
                    <a href="https://en.wikipedia.org/wiki/Chennai"><img src="./images/location9.jpg" alt="" class="img-fluid"></a>
                    <div class="info">
                        <h4>Chennai</h4>
                        <p>3Days, 4 Nights</p>
                        <!--<div class="dst-btm">
                        <h6 class=""> Start From </h6>
                        <span>$1450</span>
                      </div>-->
                    </div>
                </div>
            </div>
          </div>
      </div>
</div></section>



<%- include('../partials/footer.ejs') %>